{%  extends 'base.html' %}

{% block content %}
    <style>
        .testing{
            background-color: white;
            height: 3rem;
            width: 3rem; <!-- 1rem = 16px -->
            margin: 2rem 0;
            border: 2rem;
            font-size: .5rem;
        }
    </style>

    <div style ="height: 20rem; background-color: aquamarine; padding: 1rem; border-radius: 1rem; margin: 2rem 2rem;">
        <h1>Accoutapp
        </h1>

        <form action = '/account/hello_world/' method="post">
            {% csrf_token %}
            <input type = "submit" class = "btn btn-primary" value="POST">

        </form>

        <h1>
            {{ text }}
        </h1>
    </div>

{% endblock %}

